
				
					<div class="col-xs-6">
				{% block col1 %}		    
				 
						<h2>1</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque facilis, eligendi debitis quam repudiandae. Quam corrupti illo, porro dolorem qui!</p>
					</div>
				{% endblock %}
					<div class="col-xs-6">
				{% block col2 %}
						<h2>2</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque facilis, eligendi debitis quam repudiandae. Quam corrupti illo, porro dolorem qui!</p>
					</div>
				{% endblock col2 %}

				
					

				<!-- 利用變數方式引入'notice' -->