<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %} 
  </head>
  <body>
	<!-- {% block content %} {% endblock %} -->

	{% embed 'crew.html' %} {% endembed %}

	<div class="container">
		
			<div class="col-md-12">

				{% embed 'grid.html'%}
					
					{% block col2 %}
					<div class="col-xs-6">
						<h2>3</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque facilis, eligendi debitis quam repudiandae. Quam corrupti illo, porro dolorem qui!</p>
					</div>
					<div class="col-xs-6">
						<h2>4</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque facilis, eligendi debitis quam repudiandae. Quam corrupti illo, porro dolorem qui!</p>
					</div>
				    {% endblock col2 %}
				{% endembed %}
				
			</div>
		
	</div>
    
    {% embed 'footer.html' %} 
    {% endembed %}
  </body>
</html>